body {
	font-size: 13px;
	line-height: 18px;
	font-family: "Arial","Helvetica",sans-serif;
	color: #222;
	min-width: 300px;
}

.top-section {
	margin-top: 30px;
}

footer {
    margin-top: 48px;
    margin-bottom:20px;
    font-size: 12px;
    color: #999;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-pic img {
	float: none;
	margin: 0 auto;
	width: 10%;
	height: 10%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.profile-title {
	text-align: center;
	margin-top: 20px;
}

.profile-title-name {
	color: #5a7391;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

.profile-title-job {
	text-transform: uppercase;
	color: #5b9bd1;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}

.ibox {
    clear: both;
    margin-top: 25px;
    padding: 0;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    clear: both;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 18px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}